{% extends "base.html" %}
{% block title %}
{% load static %}
 <title> Main Page</title>

    {% endblock%}
{% block body %}
    <img src="{% static 'images/main_backg.jpg' %}" alt="background_main" class="background_main">
    <div id="quotes">
        <div class="quotes_inside">
            <strong>Become an author </strong>
        </div>
        <div class="quotes_inside">
            <strong>Participate in Events </strong>
        </div>        <div class="quotes_inside">
            <strong>Contemporary writers  </strong>
        </div>        <div class="quotes_inside">
            <strong>Share your ideas </strong>
        </div>        <div class="quotes_inside">
            <strong>Enjoy reading</strong>
        </div>        <div class="quotes_inside">
            <strong>Explore yourself</strong>
        </div>
    </div>
        <div class="last_quote">
             <img src="{% static 'images/click_quote.png' %}" alt="Image" class="btn">
            <strong>Welcome to your journey</strong>
        </div>
{% endblock %}
